[flake8]
max-line-length = 88
extend-ignore = E203, W503
exclude = 
    .git,
    __pycache__,
    build,
    dist,
    .eggs,
    *.egg,
    .venv,
    venv,
    test_venv,
    .tox,
    .mypy_cache,
    .pytest_cache,
    .coverage,
    htmlcov,
    docs/_build,
    .github
per-file-ignores =
    __init__.py:F401
max-complexity = 10